{
    "parser": "babel-eslint",
    "env": {
        "es6": true,
        "browser": true,
        "jest": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "plugins": [
        "react",
        "import"
    ],
    "rules": {
        "import/order": [
            "error"
        ],
        "no-unused-vars": [
            "error",
            {
                "args": "none"
            }
        ]
    }
}